.btn-advancedSearch{
	min-width : 85px;
	padding: 0px 10px;
}

.properties{
	margin: 10px 0px;
}

.button-caracteristics{
	border-color: #59abe3;
	text-decoration-color:#59abe3;
	color:#59abe3;
}
.button
.select-color{
	color:#59abe3 !important;

}
::-webkit-input-placeholder {
   color: #59abe3;
}


.globalValoration{
	margin: 18px;
    margin-left: -95px;
}
.commentValoration{
	padding-top: 3px;
}