.btn-advancedSearch{
	min-width : 85px;
	padding: 0px 10px;
}

.properties{
	margin: 10px 0px;
}

.button-caracteristics{
	border-color: #59abe3;
	text-decoration-color:#59abe3;
	color:#59abe3;
}
.button
.select-color{
	color:#59abe3 !important;

}
::-webkit-input-placeholder {
   color: #59abe3;
}


.globalValoration{
	margin: 18px;
    margin-left: -95px;
}
.commentValoration{
	padding-top: 3px;
}

/*==================
 VALORATION SECTION
====================*/

.star-rating a {
  display: inline-block;
  color: #95a5a6; /* gris (normal) */
}
.star-rating:hover a {
  color: #f39c12; /* amarillo (seleccionado) */
}
  .star-rating:hover a:hover ~ a {
    color: #95a5a6; /* gris (normal) */
  }

.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(232, 240, 36);
}

.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}
.user-admin {
	height: 220px !important;
}