<!-- Start Proerty header  -->
<section id="aa-user">
</section>
<!-- End Proerty header  -->
<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-top">
                        <div class="aa-contact-top-left">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.2566375217566!2d-3.8770808847007685!3d40.33665257937445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e7adf68f543%3A0x841755428455a90b!2sUniversidad+Rey+Juan+Carlos!5e0!3m2!1ses!2ses!4v1489389696400"
                                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="aa-contact-top-right">
                            <h2>Contacto</h2>
                            <p> Para cualquier duda o pregunta, contacte con nosotros llamando al teléfono que se muestra a continuación
                                o envie un email a la dirección de correo siguiente.</p>
                            <ul class="contact-info-list">
                                <li> <i class="fa fa-phone"></i> 918888888</li>
                                <li> <i class="fa fa-envelope-o"></i> info@urjc.es</li>
                                <li> <i class="fa fa-map-marker"></i> Universidad Rey Juan Carlos</li>
                            </ul>
                        </div>
                    </div>
                    <div class="aa-contact-bottom">
                        <div class="aa-title">
                            <h2>Envía tu mensaje</h2>
                            <span></span>
                            <p>Tu Email no será publicado. Los campos señalados son obligatorios<strong class="required">*</strong></p>
                        </div>
                        <div class="aa-contact-form">
                            <form class="contactform">
                                <p class="comment-form-author">
                                    <label for="author">Nombre <span class="required">*</span></label>
                                    <input type="text" name="author" value="" size="30" required="required">
                                </p>
                                <p class="comment-form-email">
                                    <label for="email">Email <span class="required">*</span></label>
                                    <input type="email" name="email" value="" aria-required="true" required="required">
                                </p>
                                <p class="comment-form-url">
                                    <label for="subject">Asunto</label>
                                    <input type="text" name="subject">
                                </p>
                                <p class="comment-form-comment">
                                    <label for="comment">Mensaje</label>
                                    <textarea name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>
                                </p>
                                <p class="form-submit">
                                    <input type="submit" name="submit" class="aa-browse-btn" value="Enviar mensaje">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
