  <!-- Start Proerty header  -->

    <section id="aa-user">
    </section>
    
  <!-- Latest property -->
  <section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
        <div class="aa-title">
          <h2>Ofertas</h2>
          <span></span>
          <p>Todas.</p>         
        </div>
        <div class="aa-latest-properties-content">
          <div class="row">
          <!--{{#offers}}-->
            <div class="col-md-4">
              <article class="aa-properties-item">
                    <br>
                    <div class="logedUser text-center">
                      <a class="btn btn-danger editText discard-offert" role="button">Eliminar
                      	<input class="idOffer" value="{{id}}" hidden/>
                      </a>
                      <a href="/offerModify/{{id}}" type="button" class="btn btn-primary editButton" role="button">Editar</a>
                    </div>
                    <br>
                    <a class="aa-properties-item-img" href="#">
                      <img src="./assets/img/cocina.americana.jpg" alt="img" width="370" height="220">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>{{offer.area}} m2</span>
                        <span>{{offer.rooms}} Habitaciones</span>
                        <span>{{offer.bathroom}} Baño</span>                      
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="/offer/{{id}}">{{offer.location}}, {{offer.province}}<br>{{offer.title}}</a></h3>
                        <p class="offerParagraph">{{offer.description}}</p>                      
                      </div>
                      <div class="aa-properties-detial">
                        <span class="aa-price">
                          {{offer.price}} €
                        </span>
                        <a class="aa-secondary-btn" href="/offer/{{id}}/?page=0&size=4">Ver</a>
                      </div>
                    </div>
                  </article>
            </div>
            <!--{{/offers}}-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Latest property -->