    <!-- Start Proerty header  -->

    <section id="aa-user">
    </section>
    <!-- End Proerty header  -->

    <section id="aa-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-contact-area">
                        <div class="aa-contact-bottom">
                            <div class="aa-title">
                                <h2>Anuncio {{offer.title}}</h2>
                                <span></span>
                                <p>Los campos señalados son obligatorios<strong class="required">*</strong>
                                </p>
                            </div>
                            <div class="aa-contact-form">
                                <form class="contactform" method="POST" action="/setModify/{{offer.id}}" enctype="multipart/form-data">
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-3">
                                            <button onClick="setInputType('Piso')" type="button"   style=" background: #59abe3;color: #ffffff" class="btn btn-default btn-block" data-toggle="button" aria-pressed="false" autocomplete="off"> Piso</button>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <button onClick="setInputType('Adosado')" type="button"  style=" background: #59abe3;color: #ffffff" class="btn btn-default btn-block" data-toggle="button" aria-pressed="false" autocomplete="off"> Adosado</button>
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                            <button onClick="setInputType('Chalé')" type="button"  style=" background: #59abe3;color: #ffffff" class="btn btn-default btn-block" data-toggle="button" aria-pressed="false" autocomplete="off"> Chalé</button>
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                            <button onClick="setInputType('Duplex')" type="button"  style=" background: #59abe3;color: #ffffff" class="btn btn-default btn-block" data-toggle="button" aria-pressed="false" autocomplete="off"> Duplex</button>
                                        </div>
                                        <input id="type" type="text" name="type" value="{{offer.type}}" hidden>
                                    </div>
                                    <br>
                                    <p class="comment-form-author">
                                        <label>Título anuncio<span class="required">*</span>
                                        </label>
                                        <input type="text" required="required" name="title" value="{{offer.title}}" >
                                    </p>
                                    <p class="comment-form-email">
                                        <label>Precio <span class="required">*</span>
                                        </label>
                                        <input type="number" required="required" name="price" value="{{offer.price}}">
                                    </p>
                                    <p class="comment-form-comment">
                                        <label for="comment">Descripción</label>
                                        <textarea name="description" required="required" cols="45" rows="8"  aria-required="true">{{offer.description}}</textarea>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p class="comment-form-url">
                                                <label>Provincia<span class="required">*</span>
                                                </label>
                                                <input type="text" required="required" name="province" value="{{offer.province}}">
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="comment-form-url">
                                                <label>Localidad</label>
                                                <input type="text" required="required" name="location" value="{{offer.location}}">
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>
                                                <label>Barrio</label>
                                                <input type="text" required="required" name="neighborhood" value="{{offer.neighborhood}}">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>
                                                <label>Superficie</label>
                                                <input type="number" required="required" name="area" value="{{offer.area}}">
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>
                                                <label>Nº baños</label>
                                                <input type="number" required="required" name="bathroom" value="{{offer.bathroom}}">
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>
                                                <label>Nº habitaciones</label>
                                                <input id="nHab" type="number" name="rooms" value="{{offer.rooms}}">
                                            </p>
                                        </div>
                                    </div>
                                    <label class="control-label">Fotos<span class="required">*</span>
                                    </label>
                                    <input id="input-1" multiple="true" type="file" class="file" name="file">
                                    <br>
                                    <div id="caracteristicas-anuncio">
                                        <label>Características:</label>
                                        <div class="row">
                                            <div class="col-xs-6  col-md-3">
                                                <button onClick="setAttributee('Aire')" type="button" id="button-caracteristics" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Aire</button>
                                            </div>
                                            <div class="col-xs-6  col-md-3">
                                                <button onClick="setAttributee('Ascensor')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Ascensor</button>
                                            </div>
                                            <div class="col-md-3 col-xs-6 ">
                                                <button onClick="setAttributee('Terraza')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Terraza</button>
                                            </div>
                                            <div class="col-md-3 col-xs-6 ">
                                                <button onClick="setAttributee('Piscina')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Piscina</button>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-6  col-md-3">
                                                <button onClick="setAttributee('Fumadores')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Fumadores</button>
                                            </div>
                                            <div class="col-xs-6  col-md-3">
                                                <button onClick="setAttributee('Mascotas')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Mascotas</button>
                                            </div>
                                            <div class="col-md-3 col-xs-6 ">
                                                <button onClick="setAttributee('Iluminado')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Iluminado</button>
                                            </div>
                                            <div class="col-md-3 col-xs-6 ">
                                                <button onClick="setAttributee('Bajo')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Bajo</button>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-6  col-md-3">
                                                <button onClick="setAttributee('Trastero')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Trastero</button>
                                            </div>
                                            <div class="col-xs-6  col-md-3">
                                                <button onClick="setAttributee('Calefacción central')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Calefacción central</button>
                                            </div>
                                            <div class="col-md-3 col-xs-6 ">
                                                <button onClick="setAttributee('Patio')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Patio</button>
                                            </div>
                                            <div class="col-md-3 col-xs-6 ">
                                                <button onClick="setAttributee('Garaje')" type="button" class="btn btn-default btn-block button-caracteristics" data-toggle="button" aria-pressed="false" autocomplete="off"> Garaje</button>
                                            </div>
                                        </div>
                                        <input id="attributes" type="text" value="" name="attributes" hidden/>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="form-submit">
                                                    <input type="submit" name="submit"class="aa-browse-btn btn-lg btn-block" value="Modificar">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>