  <!-- Start Proerty header  -->
  <section id="aa-user">
  </section>
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container" *ngIf="offer"> 
      <div class="row">
        <div class="col-md-12">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
             <div class="aa-properties-details-img">
             <!--{{#photos}}-->
               <img src="https://localhost:8443/image/{{offer.user.id}}/{{offer.id}}/0.jpg" alt="img" width="1920" height="1280">
             <!--{{/photos}} -->
             </div>
             <div class="aa-properties-info">
             <h1>Oferta de: {{offer.user.name}}</h1>
               <h2>{{offer.type}}: {{offer.title}}</h2>
               <span class="aa-price">{{offer.location}}, {{offer.province}}</span>
               	<p>- {{offer.description}}</p>
               <h4>Características básicas</h4>
	               	<li>Tamaño: {{offer.area}} m2</li>
	               	<li>Baños: {{offer.bathroom}} </li>
	               	<li>Habitaciones: {{offer.rooms}}</li>   
	               	<li>Precio: {{offer.price}} €</li> 	         	
               <h4>Características especiales</h4>
               <ul *ngFor = "let offer of offer.characteristics">
                 <!--{{#offer.characteristics}}-->
                 	<li>{{offer.name}}</li>
                 <!--{{/offer.characteristics}}-->
               </ul>
               <ul>
                 <!--{{#offer.offerReviews}}-->
                 	<li>{{offer.valoration}}</li>
                 <!--{{/offer.offerReviews}}-->
               </ul>     
             </div>
             <!-- Properties social share -->
             <div class="aa-properties-social">
               <ul>
                 <li>Compartir</li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
               </ul>
             </div>
            <!-- comment threats others -->
            <div class="col-md-12">
              <div class="aa-comments-area">
                <h3>{{numReviews}} Comentario/s</h3>
                <div class="comments">
                  <ul *ngFor = "let review of offer.reviews" class="commentlist">
                  <!--{{#reviews}}-->
                    <li>
                      <div class="media">
                        <div class="media-left">    
                            <img alt="img" src="https://localhost:8443/image/{{review.userReview.id}}/0.jpg" class="media-object news-img">      
                        </div>
                        <div class="media-body">
                         <h4 class="author-name">{{review.userReview.name}} {{review.userReview.firstLastName}} {{review.userReview.secondLastName}}</h4>
							          <input id="input-21e" value="{{review.valoration}}" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" readonly>
                         <span class="comments-date">{{review.date}}</span>
                         <p>{{review.comment}}</p>
                         <!-- <a class="reply-btn" href="#">Contestar</a>  -->
                        </div>
                      </div>
                    </li>
                   <!-- {{/reviews}}-->
                   </ul>
                  <!-- comments pagination -->
                  <nav>
                    <ul class="pagination comments-pagination">
                   <!-- {{#showPrev}}-->
                      <li>
                        <a aria-label="Previous" href="/offer/{{offer.id}}?page={{prevPage}}&size=4">
                          <span aria-hidden="true">«</span>
                        </a>
                      </li>
                    <!--{{/showPrev}}-->
                    <li><span aria-hidden="true">{{numPage}}</span></li>
                    <!--{{#showNext}}-->
                      <li>
                        <a aria-label="Next" href="/offer/{{offer.id}}?page={{nextPage}}&size=4">
                          <span aria-hidden="true">»</span>
                        </a>
                      </li>
                    <!--{{/showNext}}-->
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-- Respond -->
            <div *ngIf="signinService.isLogged()" class="col-md-8">
            	<!--{{#isLogued}}-->
                <div id="respond">
                  <h3 class="reply-title">Deja un comentario</h3>
                  <form action="/addReview/{{offer.id}}" type="post">
                    <div class="row">
                      <div class="col-md-2">
                        <p class="comment-form-comment commentValoration">
                          <label for="valoration">Valoración: <span class="required">*</span></label>
                        </p>
                      </div>
                      <div class="col-md-4">
                        <input name="valoration" value="" name="valoration" [(ngModel)]="formData.valoration" type="number" max="5" min="0" >
                        <!--<input id="input-21e" name="valoration" value="" [(ngModel)]="formData.valoration" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs">-->
                        <!--<star-rating-comp [startype]="'svg'" [rating]="2.63"></star-rating-comp>-->
                        <!--<star-rating-comp [getHalfStarClass]="ctrl.getHalfStarClass(rating)" [rating]="3.2"></star-rating-comp>-->
                      </div>
                    </div>
                    <p class="comment-form-comment">
                      <label for="author">Comentario: <span class="required">*</span></label>
                      <textarea [(ngModel)]="formData.comment" required="required" aria-required="true" rows="8" cols="45" name="comment"></textarea>
                    </p>
                    <p class="form-submit">
                      <input type="submit" value="Publicar comentario" (click)="addReview()" class="aa-browse-btn" name="submit">
                    </p>        
                  </form>
                </div>
               <!-- {{/isLogued}}-->
              </div>
              <!-- End Respond box -->
            </div>    
          </div>                                   
        </div>
      </div>
    </div>          
</section>