.btn-advancedSearch{
	min-width : 85px;
	padding: 0px 10px;
}

.properties{
	margin: 10px 0px;
}

.button-caracteristics{
	border-color: #59abe3;
	text-decoration-color:#59abe3;
	color:#59abe3;
}
.button
.select-color{
	color:#59abe3 !important;

}
::-webkit-input-placeholder {
   color: #59abe3;
}


.globalValoration{
	margin: 18px;
    margin-left: -95px;
}
.commentValoration{
	padding-top: 3px;
}

/*==================
 VALORATION SECTION
====================*/

.star-rating a {
  display: inline-block;
  color: #95a5a6; /* gris (normal) */
}
.star-rating:hover a {
  color: #f39c12; /* amarillo (seleccionado) */
}
  .star-rating:hover a:hover ~ a {
    color: #95a5a6; /* gris (normal) */
  }

.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(232, 240, 36);
}

.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}
.user-admin {
	height: 220px !important;
}

.offerParagraph{
	min-height: 130px;
}
.mainBrowser{
	margin-top: -325px !important;
}

/**fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }
*/
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 