    <!-- Start Proerty header  -->

    <section id="aa-user">
    </section>
    <!-- End Proerty header  -->

    <section id="aa-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-contact-area">
                        <div class="aa-contact-bottom">
                            <div class="aa-title">
                                <h2>Editar el Usuario {{user.name}} {{user.firstLastName}} {{user.secondLastName}}</h2>
                                <span></span>
                                <p>Los campos señalados son obligatorios<strong class="required">*</strong>
                                </p>
                            </div>
                            <div class="aa-contact-form">
                                <form class="contactform" method="POST" action="/edit-user" enctype="multipart/form-data">
									<div class="aa-single-field">
					                  <label for="name">Nombre <span class="required">*</span></label>
					                  <input type="text" [(ngModel)]="formData.name" value="" name="name">
					                </div>
					                <div class="aa-single-field">
					                  <label for="surname1">Apellido 1 <span class="required">*</span></label>
					                  <input type="text" [(ngModel)]="formData.firstLastName" value="" name="firstLastName">
					                </div>
					                <div class="aa-single-field">
					                  <label for="surname2">Apellido 2 <span class="required">*</span></label>
					                  <input type="text" [(ngModel)]="formData.secondLastName" value="" name="secondLastName">
					                </div>
					                <div class="aa-single-field">
					                  <label for="email">Email <span class="required">*</span></label>
					                  <input type="email" [(ngModel)]="formData.email" value="" name="email">
					                </div>
					                <div class="aa-single-field">
					                  <label for="phone">Télefono <span class="required">*</span></label><br>
					                  <input type="text" [(ngModel)]="formData.phone" value="" name="phone">
					                </div>
					                <div class="aa-single-field">
					                  <label for="password">Nueva Contraseña <span class="required">*</span></label>
					                  <input type="password" [(ngModel)]="formData.pass" value="" name="pass"> 
					                </div>
					                <div class="aa-single-field">
					                  <label for="confirm-password">Confirmar contraseña <span class="required">*</span></label>
					                  <input type="password" value=""> 
					                   
					                </div>
					                <div class="aa-single-field">
					                  <label for="phone">Descripción del usuario</label><br>
					                  <textarea maxlength="1080" [(ngModel)]="formData.description" name="description"></textarea>
					                </div>
					                <div class="aa-single-field">
					                  <label for="phone">Imagen de perfil</label><br>
					                  <input type="file" accept="image/*" name="file" (change)="selectFile($event)" >
					                </div>
					                <div class="row">
                                       <div class="col-md-12">
                                           <p class="form-submit">
                                               <input type="submit" name="submit"class="aa-browse-btn btn-lg btn-block" (click)="editUser()" value="Actualizar perfil">
                                           </p>
                                       </div>
                                   </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>